
table, th, td {
  padding: 5px;
  border: 1px solid black;
}
table {
  border-collapse: collapse;
  border-spacing: 0px;
  margin: 20px;
}
@import url("//fonts.googleapis.com/css?family=Titillium+Web:400,600");
body {
  margin: 0;
  background-color: #021114;
  --text-opacity: 1;
  font-size: 16px;
  font-family: "Titillium Web", "sans-serif";
}
h1 {
  font-size: 28px;
  color: #a1ecfb;
}
p {
  color: #26dafd;
}
.App {
  color: #a1ecfb;
  max-width: 50em;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
}





