
.glowyboys {
    display: block;
    width: 1px;
    height: 1px;
    color: #26dafd;
    box-shadow: 0 0 4px 4px rgba(42, 215, 250, 0.433);
    border-radius: 50%;
    background-color: rgba(42, 215, 250, 0.433);
    position:fixed;
    top:-10%;
    z-index:-1;
    user-select:none;
    cursor:default;
    animation-name:glowboys-ascend,glowboys-move;
    animation-duration:10s,3s;
    animation-timing-function:linear,ease-in-out;
    animation-iteration-count:infinite,infinite;
    animation-play-state:running,running
  }
  
  @keyframes glowboys-ascend {
    0% {top:100%; opacity: 0.2;}
    30%, 70% {opacity: 0.9;}
    100%{top:-10%; opacity: 0.4;}
  }
  @keyframes glowboys-move{
    0%, 100% {transform: translateX(0);}
    50% {transform: translateX(20px);}
  }
  
  .glowyboys:nth-of-type(0){left:1%; animation-delay:0s,0s}
  .glowyboys:nth-of-type(1){left:10%; animation-delay:1s,1s}
  .glowyboys:nth-of-type(2){left:20%; animation-delay:6s,.5s}
  .glowyboys:nth-of-type(3){left:30%; animation-delay:4s,2s}
  .glowyboys:nth-of-type(4){left:40%; animation-delay:2s,2s}
  .glowyboys:nth-of-type(5){left:50%; animation-delay:8s,3s}
  .glowyboys:nth-of-type(6){left:60%; animation-delay:6s,2s}
  .glowyboys:nth-of-type(7){left:70%; animation-delay:2.5s,1s}
  .glowyboys:nth-of-type(8){left:80%; animation-delay:1s,0s}
  .glowyboys:nth-of-type(9){left:90%; animation-delay:3s,1.5s}
  .glowyboys:nth-of-type(10){left:25%; animation-delay:2s,0s}
  .glowyboys:nth-of-type(11){left:65%; animation-delay:4s,2.5s}
  

